<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Stages</title>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
	<style>
		hidden {
			display: none;
		}

	</style>
	<script type="text/javascript">

		$(document).ready(function () {
			$('#checkBtn').click(function () {
				checked = $("input[type=checkbox]:checked").length;

				if (!checked) {
					alert("You must check at least one checkbox.");
					return false;
				}
				else {
					document.getElementById("mytable").classList.toggle("hidden");
				}

			});
		});
	</script>
</head>

<body>
	<form method="post" action="/stagetwo" enctype="multipart/form-data">
		<label> Select Stream - </label>
		<br>

		<input type="checkbox" name="stream" value="IT">IT<br>
		<input type="checkbox" name="stream" value="CS">CS<br>
		<input type="checkbox" name="stream" value="Electronics">Electronics<br>
		<input type="checkbox" name="stream" value="Mechanical">Mechanical<br>
		<input type="checkbox" name="stream" value="Civil">Civil<br>

		<table id="mytable" border>
			<caption>Stage 2</caption>
			<thead>
				<tr>
					<th>Full Name</th>
					<th>Email ID</th>
					<th>Graduation</th>
					<th>Stream</th>
					<th>CGPA</th>
					<th>Entrance Marks</th>
				</tr>
			</thead>
			<tbody>

				{% for detail in details %}
				<tr>
					<td>{{ detail.full_name}}</td>
					<td>{{ detail.email_id}}</td>
					<td>{{ detail.graduation_completed}}</td>
					<td>{{ detail.stream}}</td>
					<td>{{ detail.cgpa}}</td>
					<td>{{ detail.entrance_exam_score}}</td>

				</tr>
				{% endfor %}

			</tbody>
		</table>
		<br><br>
		<br><br>
		<button id="checkBtn">Open Table and Save the Data</button>
		<!--		<input type="button" value="Test Required"  id="checkBtn" onclick="toggleTable();">-->
	</form>

</body>

</html>